doctype html
html
  head
    block title
      title Default title
    // Links Bootstrap
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous")
    // Link Jquery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    // Script chat

    
    
  body
    #header.d-flex.px-3.py-2.bg-primary.text-light.justify-content-between.mb-3
            h1
              a.text-light.text-decoration-none(href="/") KRUNKERS
            ul#navbar.d-flex.list-inline.mt-3
                li.mx-3
                    a.link-light.text-decoration-none(href="/formulario") Crear incidencia
                li.mx-3
                    a.link-light.text-decoration-none(href="/listarIncidencias") Lista incidencias
                li.mx-3
                    a.link-light.text-decoration-none(href="/chat") Chat
    block content

    #footer.bg-primary.text-light.p-3.mt-3
        p.text-center Copyright Krunkers
    
    //script( src="/js/jquery.min.js" )
    //script( src="/js/popper.js" )
    //script( src="/js/bootstrap.min.js" )

    script(src="/public/js/incidence.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(src="/public/js/chat.js")
