extends ./layouts/app.jade
block title
  style.
    #chat {
      border: 2px solid black;
      margin: 0px auto;
      width: 800px;
      height: 500px;
    }
    #inputMessage {
    }
    #selectRoom {
      margin: 0px auto;
      width: 200px;
      height: 30px;
    }
block content

  h1#title.text-center Chat krunkers
  div#selectRoom
    select(id="selectRoom")
      option(value="all") Sala de chat todos
      -for(var i = 1;i<10;i++){
      option(value=i) Sala de chat #{i}
      -}
  br
  div
    #chat.p-3.overflow-scroll
      each message in messages
        span #{message.user}: #{message.msg}
        br
    p.text-center.m-3.float-right Autor: 
        input#inputAutor   
    p.text-center.m-3.float-right Mensaje: 
        input#inputMessage
        button#enviar.m-3 Enviar