extends ./layouts/app.jade
head
block title
  title formulario
  
block content
  .container-fluid.mt-5
    .col-6
      form(action="/addIncidence", method="post")
        .input-group.mb-3
          span.input-group-text Name
          input.form-control(type='text' placeholder='Roberto' name="name")
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text DNI
          input.form-control(type='text' placeholder='12345678Z' name="dni")
        .row.g-0
        .col-3
          select.form-select(name="type")
            option(selected='') Elige una opcion
            option(value='software') Software
            option(value='hardware') Hardware
            option(value='filologia inglesa') Filologia inglesa
        .col-8.mx-auto
          label.form-check-label(for='prioridad') Prioridad: 
          .form-check.form-check-inline
            input#Radio1.form-check-input(type='radio' name='urgency' value='baja' checked='')
            label.form-check-label(for='Radio1') Baja
          .form-check.form-check-inline
            input#Radio2.form-check-input(type='radio' name='urgency' value='media')
            label.form-check-label(for='Radio2') Media
          .form-check.form-check-inline
            input#Radio3.form-check-input(type='radio' name='urgency' value='alta')
            label.form-check-label(for='Radio3') Alta
        .col-6.mt-3
        .input-group
          span.input-group-text Descripción
          textarea.form-control(name="description")
        .row.g-0
        .col-4
        button.btn.btn-primary.mt-3(type="submit") Enviar