extends ./layouts/app.jade

block title
  title Home

block content
  h1.text-center Bienvenido a Krunkers Chat
  p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dolores placeat cumque tempore! Corporis, amet?