extends ./layouts/app.jade
head
block title
    title Listar Incidencias

    style(type='text/css').
        .incidencias {
            border: 1px solid black;
            width: 80%;
        }
        .contenedor {
            display: flex;
            justify-content: center;
        }
    
block content
    h1 Listado de Incidencias
    #contenedor.contenedor
        #contenido.incidencias
            table.table.table-striped.table-responsive
                thead.thead-dark
                    tr
                        th Nombre
                        th DNI
                        th Tipo de incidencia
                        th Urgencia
                        th Descripción
                        th Estado
                        th Modificar
                        th Eliminar
                tbody
                    each incidence in incidences
                        tr
                            td #{incidence.name}
                            td #{incidence.dni}
                            td #{incidence.type}
                            td #{incidence.urgency}
                            td #{incidence.description}
                            td #{incidence.status}
                            td
                                form(action="/formularioUpdate" method="post")
                                    input(type="hidden" name="idIncidence" value="#{incidence.id}")
                                    button.btn.btn-primary Editar
                            td
                                form(action="/deleteIncidence", method="post")
                                    input(type="hidden" name="idIncidence" value="#{incidence.id}")
                                    button#eliminar.btn.btn-danger.m-2(type="submit") Eliminar

            a(href="/formulario")
                buttton.btn.btn-success Añadir Incidencia
